<ng-form>

  <div class="form-group">
    <label for="fromAccount">From Account</label>
    <input disabled type="text" class="form-control" id="fromAccount" aria-describedby="fromAccountHelp"
           placeholder="{{accountName}} - {{balance| currency}}">
  </div>
  <div class="form-group">
    <label for="toAccount">To Account</label>
    <input type="text" class="form-control" id="toAccount" placeholder="Enter destination" [(ngModel)]="toAccount"
           name="toAccount">
  </div>
  <div class="form-group">
    <label class="amount-label" for="amount">Amount</label>
    <div class="input-icon">
      <i>$</i><input type="text" class="form-control" id="amount" placeholder="0.00" [(ngModel)]="amount" name="amount"
                     ngNumbersOnly max="{{balance + 500}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="open()">Transfer</button>

</ng-form>

