<!-- Header -->
<div class="header" role="banner">
  <div class="container">
    <img
      alt="Peachtree Bank"
      src="./assets/logo.jpg"
    />
  </div>
</div>

<!-- content -->
<div class="container" role="main">
  <div class="row">
    <app-card class="col-md-4">
      <img icon src="../assets/icons/arrows.png" alt="Transfer icon">
      <span title>Make a Transfer</span>
      <div body>
        <app-transfer-form></app-transfer-form>
      </div>
    </app-card>
    <app-card class="col-md-8">
        <img icon src="../assets/icons/briefcase.png" alt="Transaction list icon">
        <span title="">Recent Transactions</span>
      <div body>
        <app-transaction-list></app-transaction-list>
      </div>
    </app-card>
  </div>
</div>


<router-outlet></router-outlet>
