@import "../../../mixin/loader";
@import "../../../variables";
$animation-duration: .1s;
$font-size: 16px;

.sort-button-container {

  button {
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    border-color: $border-color;
    &.asc, &.desc {

      padding-left: 10px;
      padding-right: 22px;

      &:after {
        content: "▼";
        font-size: 10px;
        position: absolute;
        right: 6px;
        top: 12px;
      }

    }
    &.desc:after {
      content: "▲";
    }
  }
}
.loader-container{
  width: 20px;
  margin: 0 10px;
}

input{
  border: 0;
  border-bottom: 1px solid $border-color;
  border-radius: 0;
}

@include ball-loader(20px, $secondary);

tr {
  & td:not(:first-of-type) {
    -webkit-filter: grayscale(1);
    -webkit-transition: all $animation-duration ease-in-out;
  }

  &:hover td{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }

  .merchant{
    display: block;
    line-height: $font-size;
  }
  .transaction-class{
    font-size: $font-size * 0.7;
    line-height: $font-size * 0.7;
  }

  .category-code-col{
    width:5px;
    padding: 0;
  }

  .merchant-logo-col{
    img {
      width: 30px;
    }
    @media (max-width: 768px) {
      padding: 0.75rem 0;
    }
  }
}
