@import "variables";
@import "mixin/loader";
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Kanit', serif;
  background-color: $background-color;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

