<div class="d-flex justify-content-between align-items-center">
  <div class="form-inline">
    <input
      autocomplete="false"
      class="form-control ml-2"
      type="text"
      name="searchTerm"
      [(ngModel)]="transactionService.searchTerm"
      placeholder="Search by typing..."
    />
    <span class="ml-3" *ngIf="transactionService.loading$ | async">Loading...</span>
  </div>
  <div class="btn-group" role="group" aria-label="Sort by">
    <button type="button" class="btn btn-outline-secondary rounded-0" sortable="transactionDate" (sort)="onSort($event)">Date
    </button>
    <button type="button" class="btn btn-outline-secondary rounded-0" sortable="merchant" (sort)="onSort($event)">Beneficiary
    </button>
    <button type="button" class="btn btn-outline-secondary rounded-0" sortable="amount" (sort)="onSort($event)">Amount</button>
  </div>
</div>
<table class="table">
  <tbody>
  <tr *ngFor="let transaction of transactionService.transactions$ | async" class="border">
    <td width="5" class="p-0" style="background-color: {{ transaction.categoryCode }}">&nbsp;</td>
    <td>{{ transaction.transactionDate | date: 'MMM. dd' }}</td>
    <td><img width="30" src="{{ transaction.merchantLogo }}" alt=""></td>
    <td>{{ transaction.merchant }} {{ transaction.transactionType }}</td>
    <td>-{{ transaction.amount | currency }}</td>
  </tr>
  </tbody>
</table>
